body {
  background-image: url('./images/snacks.jpg');
  height: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  font-family: "black han sans";
}

h1 {
  color:#e0f9f3;
  padding: 30px;
}

form {
  background-color: lightgray;
  padding: 20px;
  opacity: 0.95;
}